* {
    padding: 0;
    margin: 0;

    --nav-height: 7vh;
    --nav-pad: 1rem;
    --color-box-shadow: #00000069;
    --border-radius: 0.3rem;
    --font-main: "Roboto Mono", monospace;
}

.testing {
    background-color: #ffff008a;
    border: 1px solid red;
}

body {
    display: grid;
    grid-template-rows: 15vh auto 20vh;
    grid-template-columns: auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

.container { 
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    grid-area: header;
    background-color: #242729;
    box-shadow: 0 5px 10px var(--color-box-shadow);
    z-index: 1;
}

#logo {
    width: 10vh;
    margin: auto;
    cursor: pointer;
    z-index: 2;
}

a > *{
    text-decoration: underline;
}

a:link {
    color: black;
}

nav {
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
}

#nav-buttons {
    justify-content: space-between !important;
    padding: 1rem;
}

#content-list {
    list-style-type: none;
    margin-top: 3rem;
    margin-left: 1rem;
    font-family: var(--font-main);
    font-size: 1.2rem;
    display: inline-block;
}

#content-list > li {
    cursor: pointer;
    line-height: 2rem;
}

#content-list > li:hover {
    padding-left: 1vw;
}

#previous, #next {
    /* width: 15vw; */
    white-space: nowrap;
}

.glowing {
    animation: change-color 1s ease-in-out infinite alternate;
}

@keyframes change-color {
    100% { background: yellow; }
}

@media only screen and (max-width: 900px) {
    /* Mobile version */
    #previous > label, #next > label {
        display: none;
    }
}

main {
    padding: 1rem;
    background-color: #ffffff;
    grid-area: main;
}

.blog-post-title .blog-post-media {
    text-align: center;
}

footer {
    font-family: var(--font-main);
    padding: 1rem;
    background-color:#242729;
    box-shadow: 0 -5px 10px var(--color-box-shadow);
    grid-area: footer;
}

#contacts {
    align-items: center;
    justify-content: center;
}

#contacts > a > img {
    margin: 1rem;
    width: 5vh;
    height: 5vh;
}

#copy {
    text-align: center;
    color: #ffffff;
}