* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   

    --nav-height: 7vh;
    --nav-pad: 1rem;
    --color-box-shadow: #00000069;
    --container-background: #242729;
    --border-radius: 0.3rem;
    --container-border-radius: 1rem;
    --secondary-font: "Roboto Mono", monospace;
    font-family: 'Open Sans', "Times New Roman", Times, sans-serif;
}

.testing {
    background-color: #ffff008a;
    border: 1px solid red;
}

#page-content {
    display: grid;
    grid-template-rows: 15vh auto 20vh;
    grid-template-columns: auto;
    grid-row-gap: 2rem;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

#background {
    position: fixed;
    z-index: -999;
    /* display: none; */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    grid-area: header;
    background-color: var(--container-background);
    box-shadow: 0 5px 10px var(--color-box-shadow);
    z-index: 1;
}

#logo {
    margin: auto;
    cursor: pointer;
    z-index: 2;
}

a>* {
    text-decoration: underline;
}

a:link {
    color: black;
}

.nav {
    position: fixed;
    z-index: 2;
}

#content-list {
    top: 15vh;
    list-style-type: none;
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 1.2rem;
    display: inline-block;
}

#content-list * {
    font-family: var(--secondary-font);
}

#content-list>li {
    cursor: pointer;
    line-height: 2rem;
    text-decoration: none;
}

#content-list a {
    text-decoration: none;
}

#content-list>li:hover {
    padding-left: 1vw;
}

.selected-nav {
    font-weight: bold;
}

.selected-nav::before {
    content: '> ';
}

#previous {
    top: 1rem;
    left: 1rem;
}

#next {
    top: 1rem;
    right: 1rem;
}

#settings-button {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}

dialog {
    min-width: 30vw;
    padding: 2rem;
    margin: auto;
    border-radius: var(--border-radius);
}

dialog > h1 {
    width: 100%;
    margin-bottom: 1rem;
}

#dialog-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 40px;
    height: 40px;
}

#settings::backdrop {
    background-color: black;
    opacity: 0.5;
}

@media only screen and (max-width: 900px) {

    /* Mobile version */
    #previous>label,
    #next>label {
        display: none;
    }

    #content-list {
        display: none;
    }
}

main {
    padding: 1rem;
    background-color: #ffffff00;
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-post-title .blog-post-media {
    text-align: center;
}

footer {
    padding: 1rem;
    background-color: var(--container-background);
    box-shadow: 0 -5px 10px var(--color-box-shadow);
    grid-area: footer;
}

footer * {
    font-family: var(--secondary-font);
}

#contacts {
    align-items: center;
    justify-content: center;
}

#contacts>a>img {
    margin: 1rem;
}

#copy {
    text-align: center;
    color: #ffffff;
}

image-carousel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

code {
    background: black;
    color: white !important;
    padding: 0.4em;
    border-radius: 5px;
}