* {
    font-family: 'Franklin Gothic';
}

/****************************** FOOTER *******************************/

footer {
    background:black;
    color: white;
    text-align: center;
    padding: 1em;
}

footer p {

}