* {

}

#post {
    flex-direction: column;
    font-family: 'Quicksand', "Times New Roman", Times, sans-serif;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 5rem;
    width: 60vw;
    text-align: center;
}

#post-title {
    font-size: 3rem;
}

#post-date {
    font-family: 'Roboto Mono', monospace;
}

#post-content {
    flex-direction: column;
}

#post-content > p {
    font-size: 1.25rem;
    letter-spacing: 1pt;
    line-height: 1.75rem;
    margin: 0.5rem;
    cursor: text;
}

#post-content > img {
    margin: 1rem;
}