#collapser {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

#collapser::before {
    font-family: var(--secondary-font) !important;
    font-size: 3rem;
    line-height: 2rem;
    content: "\02EF";
}

:host([collapsed]) > #collapser::before {
    content: "\02F0";
}

#collapsible-content  {
    display: block;
}

:host([collapsed]) #collapsible-content {
    display: none !important;
}