#collapser {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: -2.3rem;
    font-size: 1.5rem;
    font-weight: 700;
}

#collapser::before {
    font-family: var(--secondary-font) !important;
    font-size: 2rem;
    line-height: 2rem;
    content: "^";
    margin-top: -1.5rem;
    height: 0;
}

:host {
    margin-top: 1rem !important;
}

:host([collapsed]) > #collapser::before {
    transform: rotate(180deg);
    margin-top: 1.5rem;
}

#collapsible-content  {
    display: block;
}

:host([collapsed]) #collapsible-content {
    display: none !important;
}

/* Mobile version */
@media only screen and (max-width: 900px) {
    #collapser {
        margin-left: 0;
    }

}