#collapser {
    display: flex;
    gap: 0.5rem;
    margin-left: -2rem;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

#collapser::before {
    font-family: var(--secondary-font) !important;
    font-size: 2rem;
}

#collapser::before {
    content: "\02C5";
}

:host([collapsed]) > #collapser::before {
    content: "\02C4";
}

#collapser:hover {
    margin-left: -1rem;
}

#collapsible-content  {
    display: block;
}

:host([collapsed]) #collapsible-content {
    display: none !important;
}